@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F9F8;
  --foreground: #354F52;
  --sage-50: #F7F9F8;
  --sage-100: #E8EFEC;
  --sage-500: #84A98C;
  --sage-800: #354F52;
  --lavender-500: #E0B1CB;
}

body {
  background: var(--background);
  color: var(--foreground);
}
